.header{
  display: grid;
  grid-template-columns: minmax(320px, auto) minmax(320px,465px);

  .header__left{
    box-sizing: border-box;
    background-image: url('../img/2-chairs.png');
    background-position:center ;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $beige;
    background-blend-mode: multiply;
  }
  .header__slogan{
    span{ display: block; }
    align-self: flex-start;
  }
  .logo__wrap{
    margin-top: 50px;
    margin-left: 168px;
    width: 162px;
  }

  .header__right{
    @include diagonal($green);
  }
  .drawer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border: 3px solid #e9eae2;
    margin: 50px auto;

    &:hover{ cursor: pointer; }

    .sandwich{
      position: relative;
      width: 40px;
      height: 3px;
      background-color: #e9eae2;

      &::before{
        position: absolute;
        content: "";
        width: 40px;
        height: 3px;
        background-color: #e9eae2;
        top: 10px;
      }
      &::after{
        position: absolute;
        content: "";
        width: 40px;
        height: 3px;
        background-color: #e9eae2;
        bottom: 10px;
      }
    }
  }
  .header__addres{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $white;
    margin-top: 90px;
    margin-bottom: 40px;
    margin-left: 60px;
    span{ display: block; }
  }
  .header__contacts{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 136px;
    a{
      display: block;
      color: $white;
      text-decoration: $white;
    }
  }
}

@media (max-width: 1200px){
  .header{
    grid-template-columns: minmax(320px, auto) minmax(320px,465px);
  }
}

@media (max-width: 945px){
  .header{
    .logo__wrap{
      margin: 10% auto;
    }
  }
  .header__left{
    background-image: none !important;
    background-position: left !important;
    background-size: cover !important;
  }
}

@media(max-width:650px){
  .header{
    grid-template-columns: 1fr;
  }
}
