.social__list{
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  width: 120px;
  margin: 60px auto;
}

.socials__svg{
  fill: $green;
  transition-property: fill;
  transition-duration: 200ms;

  &:hover{
    fill: $yellow;
  }
}

.socials__facebook{
  display: flex;
  width: 10px;
  height: 22px;
}

.socials__twitter{
  width: 26px;
  height: 21px;
}

.socials__linkedin{
  width: 20px;
  height: 19px;
}

.socials__google-plus{
  width: 18px;
  height: 18px;
}
