.studio{
  font-family: 'Roboto Condensed', sans-serif;
  display: grid;
  grid-template-columns: minmax(320px,0.31fr) minmax(320px, 0.69fr);
  grid-template-rows: 500px 390px;
  background-color: $beige;

  hr{
    margin-top:0;
  }
}

.studio__header{
  @include diagonal($orange);
}

.studio__title{
  font-size: 48px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  position: relative;
  top: 45%;
  left: 50%;
}

.studio__info{
  box-sizing: border-box;
  padding: 8% 10% 0 10%;

  .info__left{
    width: 47%;
    margin-right: 8%;
  }

  .info__right{
    width: 47%;

    img{
      width: 100%;
    }
  }
}

.awards__title{
  font-size:14px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.awards__text{
  font-size: 14px;
  max-width: 160px;
}

.info__wrap{
  display: flex;
  justify-content: space-between;
}

.awards__wrap{
  text-transform: uppercase;
  display: flex;
  max-width: 360px;
  justify-content: space-between;
}

.info__italic{
  font-size: 18px;
  font-weight:400;
  font-style: italic;
  line-height: 18px;
  margin-top: 0;
}

.info__light{
  font-weight: 300;
}

.stuff__head{
  padding: 60px 35px 0 165px;
}

.text__wrap{
}

.stuff__title{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.stuff__text{
  font-size: 14px;
  font-weight: 300;
}

.stuff__cards{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin:0;
  padding: 10% 10% 3% 0;
}

.stuff__card{
  max-width: 270px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;

  .img__wrap{
    height: 150px;
    max-width: 270px;
    background-color: transparent;

    img{
      width: 100%;
    }
  }
}

.card__title{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 2px;
}

.card__text{
  font-size: 12px;
  margin-top: 2px;
  text-transform: uppercase;
}

.card__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 80%;

  .card__cv{

    .cv{
      color: $red-orange;
      margin: 0;
    }

    svg{
      height: 15px;
      width: 19px;
      transform: rotate(180deg);
      fill: $red-orange;
    }
  }

  .social__list{

    margin: 0;
    height: 15px;

    svg{

      height: 15px;
      width: 20px;
      fill: $red-orange;
    }
  }
}

@media screen and (max-width: 1200px){

  .studio {
    grid-template-columns: 250px minmax(320px, 1fr);
  }

  .stuff__head{
    padding: 20px;
  }

  .studio__header{
    text-align: center;
  }

  .studio__title{
    top: 70%;

    left: unset;
  }

  .studio__info {
    box-sizing: border-box;
    padding: 8% 10% 0 8%;
  }

  .stuff__cards{
    padding: 10% 10% 3% 0;
  }

  .stuff__card{
    padding: 5px;
  }

  .awards__text{
    max-width:45%;
  }

}

@media screen and (max-width: 980px){

  .studio{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .studio__header{
    max-height: 200px;
  }

  .studio__title{
    position: relative;
    top: unset;
  }
  .stuff__head{
    text-align: center;
  }
}

@media screen and (max-width:650px){

  .info__wrap{
   flex-direction: column;
  }
  .studio__info{

    .info__left, .info__right{
      width: 100%;
    }
  }

  .awards__wrap{
    max-width: 100%;
  }

  .awards__text{
    max-width: 100%;
  }

  .stuff__cards{
    padding: 50px;
    flex-direction: column;
    align-items: stretch;
  }

  .stuff__card{
    max-width: 100%;

    .img__wrap{
      max-width: 320px;
      overflow: hidden;
    }
  }
}
