$white: #fff;
$gray-bg: #dfe0d9;
$light-gray: #eaeaea;
$dark-gray: #cecece;
$dark-text: #333333;
$black: #000;
$green: #7acec3;
$yellow: #ebb240;
$orange: #ff9b6d;
$beige: #e9eae2;

$container-width: 1500px;
